<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booked Slots</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

	{% load static %}

<link rel="stylesheet" href="{% static 'clovia/slots.css' %}">

</head>
<body>
    <div id="head">
        <header>Clovia</header>
    </div>
        <!--<h3>Participants for room 1</h3>-->
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Participant</button>
    </form>

        <div id="booking">
            <table>
                <thead>
                    <tr>
                        <th>View Participants</th>
                        <th>Remove Participant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participants %}
                    <tr> 
                        <td>{{ participant.username }}</td>
                        <td>
                           <form method="post">
                            {% csrf_token %}
                               <input type="hidden" name="remove_participant" value="{{ participant.id }}">
                               <button type="submit">Remove</button>
                           </form>
                       </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    
</body>
</html>
